networks:
  proxy:
    name: backbone_proxy
    external: true
  database:
    name: backbone_database
    external: true

services:
  snipeit:
    container_name: snipeit
    image: snipe/snipe-it:v8.4.0
    restart: unless-stopped
    volumes:
      - ./snipeit:/var/lib/snipeit
    labels:
      - traefik.enable=true
      - traefik.docker.network=backbone_proxy
      - traefik.http.routers.snipeit.middlewares=${MIDDLEWARES:-}
      - traefik.http.routers.snipeit.tls=true
      - traefik.http.routers.snipeit.tls.certresolver=${CERTRESOLVER:-}
      - traefik.http.routers.snipeit.entryPoints=https
      - traefik.http.routers.snipeit.rule=Host("${APPLICATION_FQDN}")
      - traefik.http.routers.snipeit.service=snipeit-service
      - traefik.http.services.snipeit-service.loadbalancer.server.port=80
    env_file: 
      - setup.env
      - .env
    networks:
      - proxy
      - database
